<!-- templates/components/language_selector.html -->
{% load i18n %}

<div class="dropdown language-selector">
    <button class="btn btn-outline-light dropdown-toggle" type="button" 
            id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false"
            aria-label="{% trans 'Cambiar idioma' %}">
        <i class="fas fa-globe" aria-hidden="true"></i>
        <span class="d-none d-md-inline ms-2">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'es' %}Español
            {% elif LANGUAGE_CODE == 'en' %}English  
            {% comment %} {% elif LANGUAGE_CODE == 'fr' %}Français {% endcomment %}
            {% elif LANGUAGE_CODE == 'pt' %}Português
            {% endif %}
        </span>
    </button>
    
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        {% get_available_languages as LANGUAGES %}
        {% get_current_language as LANGUAGE_CODE %}
        
        {% for code, name in LANGUAGES %}
            {% if code != LANGUAGE_CODE %}
                <li>
                    <form action="{% url 'set_language' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                        <input name="language" type="hidden" value="{{ code }}" />
                        <button type="submit" class="dropdown-item">
                            {% if code == 'es' %}
                                <span class="flag-icon flag-icon-es me-2" aria-hidden="true"></span>Español
                            {% elif code == 'en' %}
                                <span class="flag-icon flag-icon-us me-2" aria-hidden="true"></span>English
                            {% comment %} {% elif code == 'fr' %}
                                <span class="flag-icon flag-icon-fr me-2"></span>Français {% endcomment %}
                            {% elif code == 'pt' %}
                                <span class="flag-icon flag-icon-br me-2" aria-hidden="true"></span>Português
                            {% endif %}
                        </button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
